<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.hphtv.movielibrary">

  <uses-feature
    android:name="android.software.leanback"
    android:required="false" />
  <uses-feature
    android:name="android.hardware.touchscreen"
    android:required="false" />

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

  <application
    android:name=".MovieApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:requestLegacyExternalStorage="true"
    android:theme="@style/MyTheme"
    android:usesCleartextTraffic="true">

    <activity-alias
      android:name=".activity.HomePageActivity"
      android:targetActivity=".ui.homepage.HomePageActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>

    <activity
      android:name=".ui.detail.MovieDetailActivity"
      android:launchMode="singleTask"
      android:windowSoftInputMode="stateUnchanged" />
    <activity
      android:name=".ui.homepage.HomePageActivity"
      android:launchMode="singleTask"
      android:windowSoftInputMode="stateHidden"></activity>
    <activity android:name=".ui.shortcutmanager.ShortcutManagerActivity" />

    <activity android:name=".ui.filterpage.FilterPageActivity" />
    <activity android:name=".ui.pagination.PaginationActivity" />

    <service android:name=".service.MovieScanService" />

    <service android:name=".service.DeviceMonitorService" />
    <service android:name=".service.DlnaControlService" />
    <service
      android:name=".service.DeviceControlService"
      android:enabled="true"
      android:exported="true">
      <intent-filter>
        <action android:name="com.hphtv.movielibrary.DEVICE_CONTROL" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </service>

    <receiver android:name=".BootReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </receiver>

    <activity android:name=".ui.moviesearch.pinyin.PinyinSearchActivity" />
    <activity android:name=".ui.settings.SettingsActivity" />

    <meta-data
      android:name="UMENG_APPKEY"
      android:value="5a6a86fbb27b0a7d090003fc" />
    <meta-data
      android:name="UMENG_CHANNEL"
      android:value="MediaStation" />


    <provider
      android:name=".provider.PosterContentProvider"
      android:authorities="com.hphtv.movielibrary"
      android:exported="true" />
    <provider
      android:name=".provider.MovieLibraryProvider"
      android:authorities="com.hphtv.movielibrary.movieprovider"
      android:exported="true" />
    <provider
      android:name=".util.FileContentProvider"
      android:authorities="com.hphtv.movielibrary.fileprovider"
      android:exported="true"
      android:grantUriPermissions="true"
      android:permission="android.permission.READ_EXTERNAL_STORAGE">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/filepaths" />
    </provider>
  </application>

</manifest>
